PORT=3000
JWT_SECRET=supersecret
JWT_EXPIRES_IN=1000h
DB_DIALECT=mysql
SMTP_USER=latifnjimoluh@gmail.com
SMTP_PASS="sd"
DB_HOST=localhost
DB_PORT=5432
DB_NAME=linsup
DB_USER=postgres
DB_PASS=defaultpassword