PORT=3000
JWT_SECRET=supersecret
JWT_EXPIRES_IN=1h
DB_NAME=linusupervisor
DB_USER=root
DB_PASS=password
DB_HOST=localhost
DB_DIALECT=mysql
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USER=user@example.com
MAIL_PASS=password
MAIL_FROM="Linusupervisor <no-reply@example.com>"
