proxmox_api_url = "{{ proxmox_api_url }}"
proxmox_api_token_id = "{{ proxmox_api_token_id }}"
proxmox_api_token_secret = "{{ proxmox_api_token_secret }}"
proxmox_node = "{{ proxmox_node }}"
template_name = "{{ template_name }}"
vm_storage = "{{ vm_storage }}"
ssh_public_key_path = "{{ ssh_public_key_path }}"
cloudinit_user = "{{ cloudinit_user }}"
ssh_private_key_path = "{{ ssh_private_key_path }}"
cloudinit_password = "{{ cloudinit_password }}"
dns_init_script = "{{ dns_init_script }}"
dns_config_script = "{{ dns_config_script }}"
vm_names = [ {% for name in vm_names %}"{{ name }}"{% if not loop.last %}, {% endif %}{% endfor %} ]
